* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(0,0,24,1);
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #eee;
    text-shadow: 0px 1px 1px #000;
    background-image:url('../img/background05.jpg');
    background-position:left top;
    background-repeat: no-repeat;
    background-size: 100%;
}
hr {
    border: none;
    margin: 30px;
}
p {
    text-align: justify;
    text-shadow: 0px 1px 2px #000;
}
h1, h2, h3, h4, h5, h6 {
    text-shadow: 0px 3px 4px #000;
    font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
}
@media (max-width: 500px) {
h1 { font-size: 50px; } 
}
@media (max-width: 350px) {
h1 { font-size: 30px; } 
}
a { color: #0aacd4; }
a:hover { text-decoration: none;color: #fff; }
a:active { color: #f8db0c; }
strong {
    font-weight: normal;
}

audio {
    display: inline-block;
    box-shadow: 0px 0px 3px #000, inset 0px 0px 4px #748f96;
}

.pink  {color: #fa096e; }
.yellow  { color: #f8db0c; }
.green { color: #abdc41; }
.blue { color: #0aacd4; }

/* CUSTOM */

.boxplayer {
    background: rgba(0,0,8,0.2);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.table {
    border-color: #000 !important;
    margin: 0px;
}
.table td {
    /* border-top: 1px dotted #ccc !important; */
    border: 1px dotted #ccc !important;
}

.table tr:hover {
    background: rgba(40,40,120,0.4);
}